<!DOCTYPE html><!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mystery Word My Babies!</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
</head>
<body>
  <h1>WordCraft</h1>
    {{#object}}
  <form class="" action="index.html" method="post">

 <p>{{word}}</p>

    </form>
      {{/object}}


<script src="app.js" charset="utf-8" type="text/javascript">
</script>
</body>
</html>
